@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color-1: #390000;
    --text-color-1: white;
    --text-color-2: black;
    --hover-color: gray;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-size: 12pt;
    letter-spacing: 2px;
    overflow-x: hidden;
    font-family: Poppins, 'Segoe UI', Tahoma, Verdana, sans-serif;
}

/*header*/

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    height: 60px;
    background-color: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
}

.logo {
    flex: 1;
    color: var(--text-color-1);
    font-weight: bold;
    font-size: 30px;
}

.links-container {
    flex: 2;
    height: 100%;
    display: flex;
    align-items: center;
}

nav a {
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color-1);
}

nav a:hover {
    color: var(--hover-color);
}

nav svg {
    fill: var(--text-color-1);
}

#sidebar-active {
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    display: none;
}

.hire-me-button Button{
    background-color: transparent;
    padding: 10px;
    width: 150px;
    border-radius: 15px;
    border: 2px solid var(--hover-color);
    color: var(--text-color-1);
}

.hire-me-button button:hover{
    color: var(--hover-color);
}

/*home*/

#Home{
    background-color: var(--color-1);
    height:100vh;
    width: 100%;
}

.home-container{
    padding: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.col-1-content img{
    border-radius: 50%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}

.col-2-content{
    color: var(--text-color-1);
    display: block;
}

.col-2-content h1{
    font-size: 50px;
}

.col-2-content h2{
    font-size: 80px;
}

.col-2-content marquee{
    font-size: 50px;
    width: 600px;
}

.col-2-content button{
    width: 200px;
    height: 50px;
    border-radius: 15px;
    background-color: transparent;
    border: 2px solid var(--hover-color);
    color: var(--text-color-1);
    font-size: large;
}

.col-2-content button:hover{
    color: var(--hover-color);
}


.col-2-content button a:hover{
    color: var(--hover-color);
}

/*Section title*/

.container-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-title-content{
    display: block;
}

.container-title-content h1{
    font-size: 125px;
    color: var(--text-color-1);
    -webkit-text-stroke: 4px var(--hover-color);

}

.container-title-content h2{
    font-weight: 900;
    height: 49px;
    position: relative;
    left: 70px;
    top: -130px;
    transition: none;
    cursor: move;
    color: var(--color-1);
    font-size: 50px;
}

/* about*/

#About{
    background-color: var(--text-color-1);
    height:auto;
    width: 100%;
    padding-top: 50px;
}

.about-container{
    padding: 20px 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.about-col1-content img{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}

.about-intro-title{
    font-size: 30px;
    margin-bottom: 20px;
}

.about-text-info{
    font-size: large;
    width: auto;
    margin-bottom: 20px;
}

.about-more-details{
    margin: 15px 0;
    display: flex;
}

.about-col2-content button{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    background-color: transparent;
    border: 2px solid var(--hover-color);
    color: var(--color-1);
    font-size: large;
}

.about-col2-content Button:hover{
    color: var(--hover-color);
}

/*skills*/

#Skills{
    background-color: var(--text-color-1);
    height:auto;
    width: 100%;
    padding-top: 50px;
}

.skills-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-container svg{
    margin: 20px;
    fill: var(--color-1);
}

.skills-counting{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px;
    gap: 6rem;
}

.skills-frontend h1{
    font-size: 40px;
    font-weight: 600;
}

.skills-frontend ul li{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight:
    700;
    color: var(--hover-color);
    list-style: none;
}

.skills-backend h1{
    font-size: 40px;
    font-weight: 600;
}

.skills-backend ul li{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight:
    700;
    color: var(--hover-color);
    list-style: none;
}

/*education*/

#Education{
    background-color: var(--text-color-1);
    height:auto;
    width: 100%;
    padding: 50px 0 40px 0;

}

.education-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.education-section-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0; 
    padding: 20px;
    border-left: 5px solid var(--color-1);
    width: 100%; 
    max-width: 600px;
}

.education-section-part h2 {
    font-size: 1.2em;
    color: var(--color-1);
}

.education-section-part h1 {
    font-size: 1em;
    color: var(--hover-color);
}

/*portfolio*/

#Portfolio{
    background-color: var(--text-color-1);
    height:auto;
    width: 100%;
    padding-top: 50px;
}

.protfolio-container-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.protfolio-container-title h1{
    font-weight: normal;
    font-size: 30px;
}

.protfolio-container-title h2{
    font-size: 20px;
    font-weight: normal;
    color: var(--hover-color);
}

.portfolio-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.col-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 300px;
    margin: 40px;
    padding: 30px;
}

.col-portfolio img {
    width: 100%;
    height: auto;
}

.col-portfolio h3 {
    margin: 15px 0;
    font-size: 1.2em;
    color: var(--hover-color);
}

.col-portfolio button {
    background-color: var(--color-1);
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.col-portfolio button a{
    color: var(--text-color-1);
}

/*contact*/

#Contact{
    background-color: var(--text-color-1);
    height:auto;
    width: 100%;
    padding-top: 50px;
}

.contact-container-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container-title h1{
    font-weight: normal;
    font-size: 30px;
}

.contact-container-title h2{
    font-size: 20px;
    font-weight: normal;
    color: var(--hover-color);
}

.contact-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    padding: 20px;
}

.contact-container input,
.contact-container textarea {
    width: 200%;
    max-width: 600px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid var(--color-1);
    border-radius: 8px;
    box-sizing: border-box;
}

.contact-container button {
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: 2px solid var(--color-1);
    border-radius: 8px;
    color: var(--color-1);
    font-size: large;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.contact-container button:hover{
    color: var(--hover-color);
}

/*footer*/

footer{
    background: var(--color-1);
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    color: var(--hover-color);
    font-size: 80%;
}


@media only screen and (max-width: 768px) {

    nav{
        height: 50px;
    }

    .logo{
        font-size: 20px;
    }
    
    .links-container {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: var(--color-1);
        box-shadow: -5px 0 -5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }

    nav a {
        width: 100%;
        padding: 20px;
        justify-content: flex-start;
    }

    .open-sidebar-button{
        display: block;
    }

    .close-sidebar-button {
        padding: 20px;
        display: block;
    }

    #sidebar-active:checked ~ .links-container {
        right: 0;        
    }

    #sidebar-active:checked ~ #overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    .hire-me-button{
        display: none;
    }

    .home-container{
        padding: 80px;
        flex-direction: column;
    }

    .col-1-content img{
        margin-right: 0px;
    }

    .col-2-content h1{
        margin-top: 60px;
        font-size: 25px;
    }

    .col-2-content h2{
        font-size: 35px;
    }

    .col-2-content marquee{
        font-size: 25px;
        width: 350px;
        margin-bottom: 20px;
    }

    .container-title {
        flex-direction: column;
    }

    .container-title-content h1 {
        font-size: 50px;
    }

    .container-title-content h2 {
        font-size: 30px;
        left: 0px;
        top: -60px;
    }

    .about-container{
        flex-direction: column;
    }

    .about-col1-content img{
        margin-right: 0px;
    }

    .about-intro-title{
        font-size: 20px;
        margin: 20px 0px;
        font-weight: 500;
    }

    .about-text-info{
        font-size: 20px;
        width: 20rem;
    }

    .education-section-part {
        width: 80%; 
        max-width: 600px;
    }

    .education-section-part h2{
        font-size: 15px;
    }

    .contact-container input{
        width: 45vh;
    }

    .contact-container textarea{
        width: 45vh;
    }

    footer p{
        color: var(--hover-color);
        font-size: 70%;
    }


}
